<section class="content">
    <form>
        <button class="primary" type="submit" [routerLink]="['benefits']">Cadastrar Benefício</button>
    </form>

    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let item"> {{item.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let item"> {{item.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let item"> {{item.descricao}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let item"> {{item.valor}} </td>
        </ng-container>

        <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef> Ativo </th>
        <td mat-cell *matCellDef="let item">
            <div *ngIf="item.ativo; else inactive">
            <span>Sim</span>
            </div>
            <ng-template #inactive>
            <span>Não</span>
            </ng-template>
        </td>
        </ng-container>          

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="5"></mat-paginator>
</section>
