.example-spacer {
  flex: 1 1 auto;
}

.header-toolbar {
  background-color: #3f51b5;
  color: #fff;

  .app-title {
    padding-left: 20px;
  }
}

.content-container {
  min-height: 100vh;
  height: 100%;
  border: 1px solid #ccc;
}

.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 10px;
  height: 100%;
}