<mat-card>
    <mat-card-title>
        <h1 class="page-title">Benefit Account Management</h1>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="benefitForm" (submit)="submitBenefit()">
            <div class="form-group">
                <div class="form-row">
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" required>
                        <mat-error *ngIf="benefitForm.get('nome')?.hasError('required')">
                            Preencha o nome
                        </mat-error>

                    </mat-form-field>
                </div>

                <div class="form-row">
                    <mat-form-field>
                        <mat-label>Descrição</mat-label>
                        <input matInput formControlName="descricao">
                    </mat-form-field>
                </div>

                <div class="form-row">
                    <mat-form-field>
                        <mat-label>Saldo</mat-label>
                        <input matInput formControlName="valor" required>
                        <mat-error *ngIf="benefitForm.get('valor')?.hasError('required')">
                            Preencha o saldo
                        </mat-error>
                        <mat-error *ngIf="benefitForm.get('valor')?.hasError('min')">
                            Saldo deve ser maior ou igual a zero
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-row">
                    <mat-checkbox formControlName="ativo">Ativo</mat-checkbox>
                </div>
            </div>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="submitBenefit()" [disabled]="benefitForm.invalid">{{submitAction()}}</button>
    </mat-card-actions>
</mat-card>
<section>
