<section>
<h2 class="section-heading">Benefit account</h2>
<form [formGroup]="benefitForm" (submit)="submitBenefit()">
    <label for="nome">Name:</label>
    <input id="nome" type="text" formControlName="nome" required>

    <label for="descricao">Description:</label>
    <input id="descricao" type="text" formControlName="descricao" required>

    <label for="valor">Account Balance:</label>
    <input id="valor" type="text" formControlName="valor" required>

    <label for="ativo">Active:</label>
    <input id="ativo" type="checkbox" formControlName="ativo" required>

    <button class="primary" type="submit">Save this accout</button>
</form>
</section>
